{% extends "static.html" %}
{% block title %} Welcome to Score Prediction{% endblock %}
{% block content %}
<div class="container">
    <div class="card form-wrap" >
        <div class="card-body">
          <h2 class="card-title">Welcome to Subject Score Prediction Model</h2>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{{ url_for('predict_datapoint') }}" class="btn btn-primary">Try it</a>
        </div>
      </div>
</div>

{% endblock %}